
.pics {
  display: -ms-grid;
  display: inline-flex;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: .5rem;
  justify-items: center;
  margin: 0;
  padding: 0;
}

.frame {
  padding: .5rem;
  font-size: 1.2rem;
  text-align: center;
  font-style: italic;
}

.image {
  max-width: 100%;
  height: auto;
  border: 15px solid #193366;
  margin-bottom: 5px;
}
h1 {
  font-family: Courier New, monospace;
  font-size: 50px;
  margin-left: 25px;
  color: #daa184;
  letter-spacing: 15px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border: 15px solid #193366;
}

.right {
  display: block;
  float: right;
  margin-right: 50px;
  margin-left: 50px;
  border: 15px solid #193366;
  margin-bottom: 25px;
}
ul {
  font-family: Verdana, Tahoma;
  font-size: 14px;
  margin: 0;
  padding: 0;
  list-style: none;
  letter-spacing: 1px;
}

ul li {
  display: block;
  position: relative;
  bottom: 60px;
  float: right;
}

li ul {display: none;}

ul li a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  padding: 5px 15px 5px 15px;
  background: #193366;
  margin-right: 10px;
  white-space: nowrap;
  border-radius: 5px;
  box-shadow: 5px 2px 5px grey;
}

ul li a:hover {background:#336699;}

li:hover ul {
  display: block;
  position: absolute;
  top: 87px;
}

li:hover li {
  float: none;
  font-size: 11px;
}

li:hover a {
  background: #336699;
  border-bottom: none;
}

li:hover li a:hover {
  background: #8cb3d9;
  border-bottom: none;
}
a:hover, a:focus {
   color: #ffbb99;
}

a:active {
   color: #ff7733;
}

p a {
  float: right;
  display: block;
}

#menu {
  margin-right: 50px;
}

body {
  background:
    url(img/smudgeorange.png) right -30px top no-repeat,
    url(img/pinkpattern.png) repeat center;
}
p {
  font-family: Georgia, Times New Roman;
  text-indent: 5%;
  line-height: 2;
  font-size: 20px;
  margin-left: 25px;
  margin-right: 25px;
}
footer {
  font-family: Tahoma, Verdana;
  font-size: 13px;
  text-align: center;
  color: #193366;
  letter-spacing: 4px;
}

#left {
  font-family: Georgia, Times New Roman;
  font-size: 20px;
  float: none;
  margin-left: 275px;
  margin-bottom: -20px;
}
h3 {
  font-size: 30px;
  font-family: Courier New, Georgia;
  text-align: center;
  color: #193366;
  margin-bottom: -20px;
}
h2 {
  font-family: Courier New, Georgia;
  font-size: 40px;
  text-align: center;
  color: #193366;
  text-shadow: 2px 2px 2px gray;
}
#email {
  text-align: center;
  font-family: Georgia, Times New Roman;
  font-size: 20px;
  margin-top: -20px;
}
#undone {
  text-align: center;
  font-size: 50px;
  margin-left: 450px;
}
.left {
  display: block;
  float: left;
  border: 15px solid #193366;
  margin-bottom: 25px;
  margin-top: 25px;
  margin-left: 100px;
}

}
.buy .right {
  margin-top: -25px;
}

.buy a {
  color: #336699;
}
.buy a:hover,.buy a:focus {
   color: #ffbb99;
}

.buy a:active {
   color: #ff7733;
}

#subtitle {
  margin-left: 400px;
}

#pricing {
  font-family: Georgia, Times New Roman;
  font-size: 20px;
  line-height: 2;
  margin-top: 25px;
  text-align: center;
}

#copyright {
  text-align: center;
  float: none;
}

.framelink {
  font-family: Courier New, Georgia;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: #193366;
  text-shadow: 2px 2px 2px gray;
}

.framelink figcaption {
  padding: .5rem;
  font-size: 1.2rem;
  text-align: center;
  font-style: italic;
  text-shadow: none;
  font-family: serif;
  font-weight: normal;
}
